.body{  
        
    margin: 0;
padding: 0;
width: 100%;
    }
@media (min-width: 576px) {
.body{
  width: 100%;
  margin: 0;
padding: 0;

}
}

@media (min-width: 768px) {  
.body{
  width: 100%;
  margin: 0;
padding: 0;

}
}

@media (min-width: 992px) { 
.body{
  width: 100%;
  margin: 0;
padding: 0;
width: 100%;
}
}
@media (min-width: 1200px) { 
.body{
width: 100%;
margin: 0;
padding: 0;
width: 100%;
}
}

@media (min-width: 1400px) { 
.body{
width: 100%;
margin: 0;
padding: 0;
width: 100%;
}
}

.div {
  background-color: #141414;
  width: 100%;
  padding: 13px 66px;
}
@media (max-width: 991px) {
  .div {
    max-width: 100%;
    padding: 0 20px;
  }
}


.div-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    max-width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 20%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.img {
  aspect-ratio: 2.78;
  object-fit: auto;
  object-position: center;
  width: 236px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img {
    margin-top: 40px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 80%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-3 {
  display: flex;
  margin-top: 27px;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-4 {
  align-self: stretch;
  display: flex;
  width: 100%;
  align-items: start;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-5 {
  display: flex;
  gap: 20px;
  font-size: 15px;
  color: #878787;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-5 {
    flex-wrap: wrap;
  }
}
.div-6 {
  color: #fff;
  font-family: SF Pro Display, sans-serif;
  font-weight: 700;
}
.div-7 {
  font-family: SF Pro Display, sans-serif;
}
.div-8 {
  font-family: SF Pro Display, sans-serif;
}
.div-9 {
  font-family: SF Pro Display, sans-serif;
}
.div-10 {
  font-family: SF Pro Display, sans-serif;
}
.div-11 {
  font-family: SF Pro Display, sans-serif;
}
.div-12 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 27px;
}
.img-3 {
  aspect-ratio: 0.81;
  object-fit: auto;
  object-position: center;
  width: 22px;
}
.div-13 {
  border-radius: 3px;
  background-color: #d9d9d9;
  width: 45px;
  height: 1px;
}
.div-14 {
  justify-content: space-between;
  border-radius: 42px;
  border-color: rgba(206, 206, 206, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #f5f3f3;
  display: flex;
  margin-top: 29px;
  width: 666px;
  max-width: 100%;
  gap: 20px;
  font-size: 14px;
  color: #777;
  font-weight: 400;
  letter-spacing: 0.39px;
  padding: 8px 16px;
}
@media (max-width: 991px) {
  .div-14 {
    flex-wrap: wrap;
  }
}
.div-15 {
  font-family: SF Pro Display, sans-serif;
  margin: auto 0;
}
.img-4 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 21px;
}

/* ====================== */
.box {
    display: flex;
    margin-top: 34px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .box {
      max-width: 100%;
      margin-top: 40px;
    }
  }
.columns {
    background: linear-gradient(
      270deg,
      #000 4.43%,
      #212121 60.46%,
      #1b1b1b 106.25%
    );
    width: 100%;
    padding: 80px 0 0 80px;
    padding-left: 0px;
  }
  @media (max-width: 991px) {
    .columns {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .div-16 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-16 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
      
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-17 {
    display: flex;
    margin-top: 34px;
    flex-direction: column;
    margin-left: 60px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
 .div-18 {
    color: #be811a;
    font: 700 70px SF Pro Display, sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-19 {
    color: #fff;
    margin-top: 32px;
    font: 400 24px/36px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
    }
  }
  .div-20 {
    align-self: start;
    display: flex;
    margin-top: 32px;
    gap: 16px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 36px;
  }
  .div-21 {
    justify-content: center;
    border-radius: 28px;
    background-color: #434343;
    display: flex;
    gap: 8px;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-21 {
      padding: 0 20px;
    }
  }
  .div-22 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }
  .div-23 {
    justify-content: center;
    border-radius: 28px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 8px;
    white-space: nowrap;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-23 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-24 {
    font-family: SF Pro Display, sans-serif;
  }
  .div-25 {
    align-self: end;
    display: flex;
    margin-top: 89px;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-25 {
      margin-top: 40px;
    }
  }
  .div-26 {
    border-radius: 27px;
    background-color: #fff;
    width: 24px;
    height: 10px;
  }
  .div-27 {
    border-radius: 27px;
    background-color: #2e2e2e;
    width: 10px;
    height: 10px;
  }
  .div-28 {
    border-radius: 27px;
    background-color: #2e2e2e;
    width: 10px;
    height: 10px;
  }
  .div-29 {
    border-radius: 27px;
    background-color: #2e2e2e;
    width: 10px;
    height: 10px;
  }
  .div-30 {
    border-radius: 27px;
    background-color: #2e2e2e;
    width: 10px;
    height: 10px;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-30 {
      width: 100%;
    }
  }
  .img-6 {
    aspect-ratio: 1.27;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 14px;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-6 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
 /* ================= */


 .div-31 {
    padding-right: 19px;
    background-color: #efefef;
    margin-top: 19px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
    }
  }
  .div-32 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-32 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 54%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-33 {
    disply: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 467px;
    flex-grow: 1;
    padding: 9px 20px 80px;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
      margin-top: 21px;
    }
  }
  .img-8 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-9 {
    aspect-ratio: 2.78;
    object-fit: auto;
    object-position: center;
    width: 179px;
    max-width: 100%;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-34 {
    display: flex;
    margin-top: 9px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
      margin-top: 30px;
    }
  }
  .div-35 {
    align-self: end;
    display: flex;
    width: 179px;
    max-width: 100%;
    gap: 0px;
  }
  .div-36 {
    border-radius: 3px;
    background-color: rgba(47, 47, 47, 1);
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
    align-items: start;
    color: #fff;
    letter-spacing: 2px;
    justify-content: center;
    margin: auto 0;
    padding: 12px 16px;
    font: 700 18px/150% SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-36 {
      padding-right: 20px;
    }
  }
  .div-37 {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 0 14px;
  }
  .img-10 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 35px;
  }
  .div-38 {
    color: #704403;
    margin-top: 5px;
    font: 700 70px SF Pro Display, sans-serif;
  }
  @media (max-width: 991px) {
    .div-38 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-39 {
    color: #1a1a1a;
    margin-top: 32px;
    font: 400 24px/36px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-39 {
      max-width: 100%;
    }
  }
  .div-40 {
    align-self: start;
    display: flex;
    margin-top: 32px;
    gap: 16px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 36px;
  }
  .div-41 {
    justify-content: center;
    border-radius: 28px;
    background-color: #434343;
    display: flex;
    gap: 8px;
    color: #fff;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-41 {
      padding: 0 20px;
    }
  }
  .div-42 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }
  .div-43 {
    justify-content: center;
    border-radius: 28px;
    border-color: rgba(26, 26, 26, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 8px;
    color: #1a1a1a;
    white-space: nowrap;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-43 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-44 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }





/* =============== */









.div-45 {
    padding-left: 80px;
    padding-bottom: 120px;
    padding-top: 80px;
    justify-content: flex-end;
    background: linear-gradient(
      270deg,
      #000 4.43%,
      #212121 60.46%,
      #1b1b1b 106.25%
    );
    margin-top: 12px;
    width: 100%;
    padding-left: 0px;
  }
  @media (max-width: 991px) {
    .div-45 {
      max-width: 100%;
      padding-left: 20px;
    
    }
  }
  .div-46 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-46 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 36%;
    margin-left: 60px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-47 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #fff;
    font-weight: 700;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-47 {
      margin-top: 40px;
    }
  }
  .div-48 {
    color: #fff3e0;
    font: 70px SF Pro Display, sans-serif;
  }
  @media (max-width: 991px) {
    .div-48 {
      font-size: 40px;
    }
  }
  .div-49 {
    margin-top: 32px;
    font: 400 24px/100% SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-50 {
    display: flex;
    margin-top: 32px;
    gap: 16px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
  }
  .div-51 {
    justify-content: center;
    border-radius: 28px;
    background-color: #434343;
    display: flex;
    gap: 8px;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-51 {
      padding: 0 20px;
    }
  }
  .div-52 {
    font-family: SF Pro Display, sans-serif;
  }
  /* .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  } */
  .div-53 {
    justify-content: center;
    border-radius: 28px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 8px;
    white-space: nowrap;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-53 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-54 {
    font-family: SF Pro Display, sans-serif;
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 64%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
   .img-40 {
    aspect-ratio: 1.67;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-40 {
      max-width: 100%;
      margin-top: 40px;
    }
  } 



  /* ============ */




  .div-55 {
    margin-top: 16px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-55 {
      max-width: 100%;
    }
  }
  .div-56 {
    gap: 5px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-56 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-57 {
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-weight: 700;
    width: 100%;
    padding: 27px 25px 0;
  }
  @media (max-width: 991px) {
    .div-57 {
      max-width: 100%;
      margin-top: 16px;
      padding: 0 20px;
    }
  }
  .div-58 {
    color: #814626;
    font: 44px SF Pro Display, sans-serif;
  }
  .div-59 {
    color: #1a1a1a;
    margin-top: 8px;
    font: 400 24px/100% SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-60 {
    display: flex;
    margin-top: 8px;
    gap: 0px;
    font-size: 16px;
    color: #c07341;
    letter-spacing: 2px;
    line-height: 36px;
  }
  .div-61 {
    justify-content: center;
    border-radius: 28px;
    display: flex;
    gap: 8px;
    padding: 0 16px;
  }
  .div-62 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }
  .div-63 {
    justify-content: center;
    border-radius: 28px;
    display: flex;
    gap: 8px;
    white-space: nowrap;
    padding: 0 16px;
  }
  @media (max-width: 991px) {
    .div-63 {
      white-space: initial;
    }
  }
  .div-64 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-14 {
    aspect-ratio: 1.85;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: stretch;
    margin-top: 8px;
  }
  @media (max-width: 991px) {
    .img-14 {
      max-width: 100%;
    }
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-65 {
    justify-content: flex-end;
    align-items: end;
    background: linear-gradient(
      270deg,
      #000 4.43%,
      #212121 60.46%,
      #1b1b1b 106.25%
    );
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    width: 100%;
    /* padding: 27px 75px 11px 80px; */
  }
  @media (max-width: 991px) {
    .div-65 {
      max-width: 100%;
      margin-top: 16px;
      padding: 0 20px;
    }
  }
  .div-66 {
    margin-right: 200px;
    font: 44px SF Pro Display, sans-serif;
  }
  @media (max-width: 991px) {
    .div-66 {
      margin-right: 10px;
    }
  }
  .div-67 {
    margin-top: 8px;
    font: 400 24px/100% SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
      margin-right: 80px;
  }
  @media (max-width: 991px) {
    .div-67 {
      max-width: 100%;
    }
  }
  .div-68 {
    display: flex;
    gap: 0px;
    font-size: 16px;
    color: #c07341;
    letter-spacing: 2px;
    line-height: 36px;
    margin: 8px 140px 0 0;
  }
  @media (max-width: 991px) {
    .div-68 {
      margin-right: 10px;
    }
  }
  .div-69 {
    justify-content: center;
    border-radius: 28px;
    display: flex;
    gap: 8px;
    padding: 0 16px;
  }
  @media (max-width: 991px) {
    .div-69 {
      padding: 0 20px;
    }
  }
  .div-70 {
    font-family: SF Pro Display, sans-serif;
  }
  .div-71 {
    justify-content: center;
    border-radius: 28px;
    display: flex;
    gap: 8px;
    white-space: nowrap;
    padding: 0 16px;
  }
  @media (max-width: 991px) {
    .div-71 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-72 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-15 {
    aspect-ratio: 1.32;
    object-fit: auto;
    object-position: center;
    width: 403px;
    margin-top: 48px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-15 {
      margin-top: 40px;
    }
  }


  /* =============== */
  .box-2 {
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    display: flex;
    margin-top: 16px;
    width: 100%;
    font-weight: 700;
    padding: 32px 0px 0;
  }
  @media (max-width: 991px) {
    .box-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-73 {
    display: flex;
    width: 686px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-74 {
    color: #704403;
    align-self: center;
    font: 70px SF Pro Display, sans-serif;
  }
  @media (max-width: 991px) {
    .div-74 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-75 {
    color: #1a1a1a;
    text-align: center;
    margin-top: 4px;
    font: 400 30px/150% SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-75 {
      max-width: 100%;
    }
  }
  .div-76 {
    align-self: center;
    display: flex;
    margin-top: 4px;
    gap: 16px;
    font-size: 18px;
    color: #c07341;
    letter-spacing: 2px;
    line-height: 36px;
  }
  .div-77 {
    justify-content: center;
    border-radius: 28px;
    display: flex;
    gap: 8px;
  }
  .div-78 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-16 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }
  .div-79 {
    justify-content: center;
    border-radius: 28px;
    display: flex;
    gap: 8px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-79 {
      white-space: initial;
    }
  }
  .div-80 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-17 {
    aspect-ratio: 2.56;
    object-fit: auto;
    object-position: center;
    width: 559px;
    align-self: end;
    max-width: 100%;
    margin: 46px 34px 0 0;
  }
  @media (max-width: 991px) {
    .img-17 {
      margin: 40px 10px 0 0;
    }
  }


  /* =========================== */

  .div-81 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 503px;
    margin-top: 16px;
    width: 100%;
    align-items: end;
    font-weight: 700;
    line-height: 36px;
    /* padding: 80px; */
  }
  @media (max-width: 991px) {
    .div-81 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img-18 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-82 {
    position: relative;
    color: #fff3e0;
    margin-top: 24px;
    font: 70px SF Pro Display, sans-serif;
    margin-right: 60px;
  }
  @media (max-width: 991px) {
    .div-82 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-83 {
    position: relative;
    color: #fff;
    margin-top: 24px;
    width: 763px;
    font: 400 24px SF Pro Display, sans-serif;
    margin-right: 60px;
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .div-84 {
    position: relative;
    align-self: center;
    display: flex;
    gap: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    justify-content: space-between;
    margin: 24px 0 0 103px;
  }
  @media (max-width: 991px) {
    .div-84 {
      flex-wrap: wrap;
    }
  }
  .div-85 {
    justify-content: center;
    border-radius: 28px;
    background-color: #fff;
    display: flex;
    gap: 8px;
    color: #1a1a1a;
    text-transform: uppercase;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-85 {
      padding: 0 20px;
    }
  }
  .div-86 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-19 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
    margin: auto 0;
  }
  .div-87 {
    justify-content: center;
    border-radius: 28px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 8px;
    color: #fff;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-87 {
      padding: 0 20px;
    }
  }
  .div-88 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-20 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }



  /* =================== */




  .div-89 {
    background-color: #efefef;
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    font-weight: 700;
    padding: 36px 0px 0;
  }
  @media (max-width: 991px) {
    .div-89 {
      max-width: 100%;
    }
  }
  .div-90 {
    color: #704403;
    text-align: center;
    align-self: end;
    width: 983px;
    font: 70px SF Pro Display, sans-serif;
  }
  @media (max-width: 991px) {
    .div-90 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-91 {
    color: #1a1a1a;
    text-align: center;
    align-self: end;
    margin: 24px 118px 0 0;
    font: 400 24px/24px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-91 {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .div-92 {
    align-self: center;
    display: flex;
    gap: 16px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
    margin: 24px 0 0 136px;
  }
  .div-93 {
    justify-content: center;
    border-radius: 28px;
    background-color: #434343;
    display: flex;
    gap: 8px;
    color: #fff;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-93 {
      padding: 0 20px;
    }
  }
  .div-94 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-21 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }
  .div-95 {
    justify-content: center;
    border-radius: 28px;
    border-color: rgba(26, 26, 26, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 8px;
    color: #1a1a1a;
    white-space: nowrap;
    padding: 10px 24px;
  }
  @media (max-width: 991px) {
    .div-95 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-96 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-22 {
    aspect-ratio: 2.78;
    object-fit: auto;
    object-position: center;
    width: 533px;
    z-index: 10;
    margin-top: -80px;
    max-width: 100%;
  }


  /*==================  */


  .div-105 {
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-bottom-width: 1px;
    background-color: #141414;
    z-index: 10;
    display: flex;
    margin-top: 16px;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding: 66px 80px;
  }
  @media (max-width: 991px) {
    .div-105 {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .div-106 {
    display: flex;
    flex-direction: column;
    color: #fcfcff;
    font-weight: 500;
  }
  .div-107{
    font: 30px/75% SF Pro Display, sans-serif;
  }
  .div-108 {
    margin-top: 32px;
    font: 19px/120% SF Pro Display, sans-serif;
  }
  .div-109 {
    border-radius: 6px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    justify-content: space-between;
    margin: auto 0;
    padding: 17px 16px;
  }
  @media (max-width: 991px) {
    .div-109 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  .div-110 {
    font-family: SF Pro Display, sans-serif;
  }
  .img-25 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }

/* ============================ */



.div-111 {
    justify-content: center;
    background-color: #141414;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 64px 0px 28px;
  }
  @media (max-width: 991px) {
    .div-111 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-112 {
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-112 {
      max-width: 100%;
    }
  }
  .div-113 {
    gap: 20px;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
  }
  @media (max-width: 991px) {
    .div-113 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 28%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-114 {
    align-items: start;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-114 {
      margin-top: 40px;
    }
  }
  .img-26 {
    aspect-ratio: 2.78;
    object-fit: auto;
    object-position: center;
    width: 236px;
    max-width: 100%;
  }
  .div-115 {
    color: #fff;
    letter-spacing: 0.39px;
    align-self: stretch;
    margin-top: 24px;
    font: 400 14px/24px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-116 {
    display: flex;
    margin-top: 24px;
    gap: 16px;
  }
  .img-27{
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .img-28 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .img-29 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 72%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-117 {
    display: flex;
    align-items: start;
    gap: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    justify-content: space-between;
    padding: 0 1px;
  }
  @media (max-width: 991px) {
    .div-117 {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
    }
  }
  .div-118 {
    display: flex;
    flex-direction: column;
  }
  .div-119 {
    font: 700 18px SF Pro Display, sans-serif;
  }
  .div-120 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-121 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-122 {
    display: flex;
    flex-direction: column;
  }
  .div-123 {
    font: 700 18px SF Pro Display, sans-serif;
  }
  .div-124 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-125 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-126 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-127 {
    display: flex;
    flex-direction: column;
  }
  .div-128 {
    font: 700 18px SF Pro Display, sans-serif;
  }
  .div-129 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-130 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-131 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-132 {
    display: flex;
    flex-direction: column;
  }
  .div-133 {
    font: 700 18px SF Pro Display, sans-serif;
  }
  .div-134 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-135 {
    font-family: SF Pro Display, sans-serif;
    line-height: 141%;
    margin-top: 24px;
  }
  .div-136 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .div-137 {
    font: 700 18px SF Pro Display, sans-serif;
  }
  .div-138 {
    display: flex;
    margin-top: 24px;
    gap: 12px;
    line-height: 155%;
    padding: 1px 0;
  }
  .img-30 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-139 {
    font-family: SF Pro Display, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .div-140 {
    display: flex;
    margin-top: 24px;
    gap: 12px;
    text-transform: lowercase;
    line-height: 25px;
    padding: 1px 0;
  }
  .img-31 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-141 {
    font-family: Futura Bk BT, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .div-142 {
    display: flex;
    margin-top: 24px;
    gap: 12px;
    line-height: 25px;
  }
  .img-32 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    margin: auto 0;
  }
  .div-143 {
    font-family: SF Pro Display, sans-serif;
  }
  .div-144 {
    font-family: SF Pro Display, sans-serif;
    line-height: 155%;
    text-decoration-line: underline;
    align-self: start;
    margin: 23px 0 0 36px;
  }
  @media (max-width: 991px) {
    .div-144 {
      margin-left: 10px;
    }
  }
  .div-145 {
    align-self: end;
    display: flex;
    margin-top: 60px;
    width: 808px;
    max-width: 100%;
    gap: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 161%;
  }
  @media (max-width: 991px) {
    .div-145 {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-146 {
    font-family: SF Pro Display, sans-serif;
    align-self: end;
    margin-top: 30px;
    flex-grow: 1;
    flex-basis: auto;
  }
  .img-33 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 48px;
  }

